:root {
	--container-paddding: 20px;
	--input-padding-vertical: 6px;
	--input-padding-horizontal: 4px;
	--input-margin-vertical: 4px;
	--input-margin-horizontal: 0;
}

body {
	padding: 0 var(--container-paddding);
	color: var(--vscode-foreground);
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
	background-color: var(--vscode-editor-background);
}

.newColorButton {
	border: none;
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	width: 100%;
	text-align: center;
	outline: 1px solid transparent;
	outline-offset: 2px !important;
	color: var(--vscode-button-foreground);
	background: var(--vscode-button-background);
}

.newColorButton:hover {
	cursor: pointer;
	background: var(--vscode-button-hoverBackground);
}

.newColorButton:focus {
	outline-color: var(--vscode-focusBorder);
}

.newColorButton.secondary {
	color: var(--vscode-button-secondaryForeground);
	background: var(--vscode-button-secondaryBackground);
}

.newColorButton.secondary:hover {
	background: var(--vscode-button-secondaryHoverBackground);
}

.setColorRow {
	display: flex;
	gap: 10px;
	justify-content: center;
	padding-top: 10px;
}

.setColorRow button {
	width: 25px;
	height: 25px;
	border: none;
	cursor: pointer;
}

.colorRed{
	background-color: red;
}

.colorGreen{
	background-color: Green;
}

.colorBlue{
	background-color: Blue;
}
